* {
	margin: 0%;
	padding: 0%;
}

.bgimage img {
	width: 100%;
	height: 730px;
}

form {
	text-align: center;
	border: 1px solid black;
	margin-top: -550px;
}

.user {
	width: 300px;
	height: 40px;
	margin-top: 130px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid rgb(78, 78, 78);
	text-indent: 10px;
}

.pwd {
	width: 300px;
	height: 40px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid rgb(78, 78, 78);
	text-indent: 10px;
}

.borderlogin {
	z-index: 1;
	position: relative;
	height: 400px;
	justify-content: center;
	display: flex;
}

.border {
	width: 500px;
	height: 100%;
	background: white;
}

.button1 {
	font-family: 'Raleway', sans-serif;
	width: 150px;
	height: 35px;
	background-color: rgb(0, 132, 255);
	border: none;
	cursor: pointer;
	color: white;
}

.button1:hover {
	background-color: black;
	transition: 1s;
}

.button1:active {
	color: black;
	background-color: #fff;
}

.border img {
	width: 130px;
	height: 130px;
	position: absolute;
	margin-left: 70px;
	margin-top: -5px;
}

.border a {
	font-family: 'Raleway', sans-serif;
	color: rgb(0, 132, 255);
	font-size: 13px;
	text-decoration: none;
}

.link {
	margin-left: -140px;
}

.border a:hover {
	color: rgb(172, 171, 171);
}

.border p {
	margin-left: -150px;
}

.create {
	margin-top: -20px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.one {
	cursor: pointer;
}


/* Full-width input fields */

.letter,
.pass {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

.letter:focus,
.pass:focus {
	background-color: #ddd;
	outline: none;
}


/* Set a style for all buttons */

button {
	background-color: rgb(0, 132, 255);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
	color: white;
}


/* Extra styles for the cancel button */

.cancelbtn {
	padding: 14px 20px;
	background-color: black;
}

.cancelbtn:active {
	background-color: rgb(0, 132, 255);
}

.signupbtn:active {
	background-color: black;
	color: white;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
	float: left;
	width: 50%;
}


/* Add padding to container elements */

.container {
	padding: 16px;
}


/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 25%;
	top: 5%;
	width: 50%;
	/* Full width */
	height: 90%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: white;
	padding-top: 50px;
	transition: all 2s;
}


/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}


/* Clear floats */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
	.cancelbtn,
	.signupbtn {
		width: 100%;
	}
}